@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
:root{
    --navbar-brand-color :  #6b6b6b;
}
.App {
  text-align: center;
}
body{
  background-color: #000;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
*{
  color: white;
}